<template>
  <div>
    <b-container>
      <b-row>
        <b-col xs="12" sm="12" md="12" lg="12" xl="12">
          <b-navbar variant="faded" type="light">
            <b-navbar-brand href="#">Portcast</b-navbar-brand>
            <b-dropdown id="ddown-split" split :text="lang" class="m-2">
              <b-dropdown-item @click="select_lang('en')">English</b-dropdown-item>
              <b-dropdown-item @click="select_lang('fr')">French</b-dropdown-item>
            </b-dropdown>
          </b-navbar>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script src="./index.js" />
<style src="./index.css" scoped />
