template {
  font-family: 'Nunito', sans-serif;
}

.center {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.box {
  width: 100%;
  background-color: #FAFAFF;
  border-radius: 0.5em;
}

.font-xsmall {
  font-size: 0.6em;
}

.font-small {
  font-size: 0.8em;
}

.font-medium {
  font-size: 1em;
}

.font-big {
  font-size: 1.2em;
}

.font-large {
  font-size: 1.4em;
}


.float-right {
  float: right;
}

.select-button {
  background-color: #FAFAFF;
  cursor: pointer;
  border-radius: inherit;

}

.select-button p {
  text-align: left !important;
  text-decoration: none;
  color: black;
}

.select-button .btn {
  text-align: left !important;
  text-decoration: none;
  width: 200px;
}


.select-button:hover {
  background-color: rgb(230, 230, 253);
  cursor: pointer;
}
