<template>
  <div>
    <b-container>
      <b-row style="min-height: 84vh" align-h="center">
        <b-col sm="12" md="4" lg="4" xl="4" align-self="center">
          <div class="box" v-if="step == 1">
            <b-container>

              <b-row style="padding-top: 1em; border-bottom: 0.2px solid rgba(0,0,0,0.9);">
                <b-col sm="12" md="12" lg="12" xl="12">
                  <div style="display: inline;">
                    <img src="../assets/delivery-truck.svg" height="30px" style="margin-top: -6px"/>
                  </div>
                  <div style="display: inline-block; margin-left: 0.5em">
                    <p class="font-medium " style="margin-top: -1.3em;">{{ company_name }}</p>
                  </div>
                  <div style="display: inline; float: right">
                    <p class="font-small">1-4 {{ labels.PEOPLE }}</p>
                  </div>
                </b-col>
              </b-row>

              <b-row style="padding-top: 1em;" class="select-button">
                <b-col sm="12" md="12" lg="12" xl="12">

                  <b-dropdown variant="link" no-caret style="width: 100%">

                    <div slot="button-content">
                      <div style="display: inline;">
                        <img src="../assets/tourist.svg" height="20px" style="margin-top: -15px; margin-left: -12px;"/>
                      </div>
                      <div style="display: inline-block; margin-left: 0.5em">
                        <p class="font-xsmall">{{ labels.PICKUP_LOCATION.toUpperCase() }}</p>
                        <p class="font-medium " style="margin-top: -1.3em;" v-if="selected_path">{{ selected_path.origin }}</p>
                      </div>
                      <div style="display: inline; float: right">
                        <img src="../assets/arrow-point-to-right.svg" height="10px" style="margin-top: 5px; margin-right: -10px"/>
                      </div>
                    </div>


                    <b-dropdown-item v-for="(item, idx) in location_list" :key="idx" @click="select_path(idx)">{{ item.origin }}</b-dropdown-item>
                  </b-dropdown>

                </b-col>
              </b-row>
              
              <b-row style="padding-top: 1em;" class="select-button">
                <b-col sm="12" md="12" lg="12" xl="12">
                  <b-dropdown variant="link" no-caret style="width: 100%;">
                    
                    <div slot="button-content">
                      <div style="display: inline;">
                        <img src="../assets/maps-and-flags.svg" height="20px" style="margin-top: -15px; margin-left: -12px;"/>
                      </div>
                      <div style="display: inline-block; margin-left: 0.5em;">
                        <p class="font-xsmall" v-if="selected_path">{{ labels.DESTINATION.toUpperCase() }} * {{ selected_path.distance }} KM</p>
                        <p class="font-medium " style="margin-top: -1.3em;" v-if="selected_path">{{ selected_path.destination }}</p>
                      </div>
                      <div style="display: inline; float: right">
                        <img src="../assets/arrow-point-to-right.svg" height="10px" style="margin-top: 5px; margin-right: -10px"/>
                      </div>
                    </div>


                    <b-dropdown-item v-for="(item, idx) in location_list" :key="idx" @click="select_path(idx)">{{ item.destination }}</b-dropdown-item>
                  </b-dropdown>
                
                </b-col>
              </b-row>

              <b-row style="padding-top: 1em; border-top: 0.2px solid rgba(0,0,0,0.99);;" class="select-button" v-b-modal="'myModal'">
                <b-col sm="12" md="12" lg="12" xl="12">
                  <div style="display: inline;">
                    <img src="../assets/wallet.svg" height="20px" style="margin-top: -2px"/>
                  </div>
                  <div style="display: inline-block; margin-left: 0.5em">
                    <p class="font-medium " style="margin-top: -1.3em;">{{ selected_card | card_encrypter }}</p>
                  </div>
                  <div style="display: inline; float: right">
                    <p v-if="selected_path">S$ {{ selected_path.price }}<img src="../assets/more.svg" height="12px" style="margin-top: -4px"/></p>
                  </div>
                </b-col>
              </b-row>

              <b-row style="padding-bottom: 0.5em; padding-top: 0.5em;">
                <b-col sm="12" md="12" lg="12" xl="12">
                  <b-btn block variant="success" @click="step++">{{ labels.ORDER }} {{ company_name }}</b-btn>
                </b-col>
              </b-row>
              

              <b-modal id="myModal" title="Select Card" centered>
                <b-form-group>
                  <b-form-radio-group v-model="selected_card" :options="card_options" plain stacked name="plainStacked" />
                </b-form-group>

              </b-modal>

            </b-container>
          </div>

          <div v-else>
            <b-container>
              <b-row>
                <b-col sm="12" md="12" lg="12" xl="12">
                  <p class="center" style="margin-left: -10px; color: green;"><img src="../assets/checked.svg" height="40px" style="margin-top: -4px; margin-right: 10px"/>{{ labels.SUCCESSFULLY_PAID }}</p>
                  <p class="center font-large">{{ labels.PAYMENT_INFO }}</p>

          
                  <p class="center font-medium"><img src="../assets/credit-card.svg" height="29px" style="margin-top: -4px"/> {{ selected_card }}</p>
                  <p class="center font-big bold">{{ labels.TOTAL }}: S$ {{ selected_path.price }}</p>

                  <b-col sm="12" md="12" lg="12" xl="12">
                    <b-btn block variant="success" @click="step--">{{ labels.GOBACK }}</b-btn>
                  </b-col>
                </b-col>
              </b-row>
            </b-container>
          </div>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script src="./index.js" />
<style src="./index.css"/>
